@model WebApplication.Models.StudentsInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentsInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentsYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentsYear)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
